body {
    margin: 0;
    margin-top: 50em;
    padding: 0;
    background-image: url(trein.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}



header ul {
    margin: 0;
    background-color: #0A183C;
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: flex-start;
}


section {
    width: 20em;
    height: 32em;
    background: #000;
    margin-top: 2em;
    color: #fff;
    top: 30em;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 2em 2em;
    filter: opacity(80%)
}

img {
    width: 6em;
    height: 6em;
    border-radius: 50%;
    position: absolute;
    top: -4.5em;
    left: calc(50% - 50px)
}

nav img {
    height: 6em;
    border-radius: 0px;
    width: 10em;
    margin-top: 2em;
    left: 0;
    margin-left: 2em;
    padding-top: 2.5em;

}

header {
    color: #0A183C;

}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0A183C;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}



li a {
    display: flex;
    padding: 2em 100px;
}


h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

label {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

form input {
    width: 100%;
    margin-bottom: 1.3em;
}

input:focus {
    background-color: #4693d0;
}

input[type="text"],
[type="date"],
[type="email"],[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 2em;
    color: #fff;
    font-size: 1em;
    font-family: sans-serif;

}

input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #4693d0;
    color: #fff;
    font-size: 16px;
    border-radius: 20px;
    margin-top: 1em;
}

input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

form a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

form a:hover {
    color: #ffc107;
}
